.header {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: flex-start;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}

.headerTitle{
   margin-bottom: 0px;
}
.subtitle {
    color: gray;
    margin-top: 10px;
    
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formTextEntry {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 40%;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    max-width: 400px;
}

.button {
    font-size: medium;
    color: black;
    text-decoration: none;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    padding: 5px 20px 5px 20px;
    cursor: pointer;

}

.submitButton {
    font-family: 'Nunito', sans-serif;
}

.button:hover {
    background-color: lightgray;
}

input[type="radio"] {
    margin: 10px 0 10px 0;
}